@import './variable';
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: $font-inter;

  background-color: $dark-10;
}

body {
  line-height: 1.6;
}
